<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>merkdewn</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1>merkdewn</h1>
			<p>Collaborate on markdown docs</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/newpad">Create a new pad</a>
				<a href="https://github.com/aakashjain/merkdewn" class="btn btn-default btn-lg">Github</a>
			</p>
		</div>
	</div>

	<div class="container" style="padding-bottom: 10px">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<textarea id="editor" class="col-xs-12 col-sm-6 index-pad">merkdewn
========
**Try this pad out**, or...  

1. [Make a new pad](/newpad) and share the URL with your team.
2. Collaborate and whatever. Your pad won't disappear.

####Github flavored markdown yay!</textarea>
			</div>
			<div id="preview" class="col-xs-12 col-sm-6 index-pad"></div>
		</div>
	</div>

	<script src="marked.min.js"></script>
	<script src="script.js"></script>

</body>
</html>